<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.igrowth.app.mapper.CircleMapper" >
  <resultMap id="BaseResultMap" type="com.github.wxiaoqi.security.api.entity.Circle" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="DATE" />
    <result column="circle_name" property="circleName" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="circle_icon" property="circleIcon" jdbcType="VARCHAR" />
    <result column="isfocus" property="isfocus" jdbcType="INTEGER" />
    <result column="circle_background" property="circleBackground" jdbcType="VARCHAR" />
  </resultMap>
</mapper>