<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.igrowth.app.mapper.FavMapper" >
  <resultMap id="BaseResultMap" type="com.github.wxiaoqi.security.api.entity.Fav" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="fav_type" property="favType" jdbcType="INTEGER" />
    <result column="model_id" property="modelId" jdbcType="INTEGER" />
    <result column="account_id" property="accountId" jdbcType="INTEGER" />
    <result column="fav_time" property="favTime" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <select id="findFavByAccountIdAndOrgId" resultMap="BaseResultMap">
      SELECT g.* from igrowth_fav g where g.model_id=#{orgId} and g.account_id=#{accountId} and g.fav_type=#{favType}
  </select>
  
</mapper>