<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.wxiaoqi.security.admin.mapper.TeacherMapper" >
  <resultMap id="BaseResultMap" type="com.github.wxiaoqi.security.api.entity.Teacher" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="teacher_name" property="teacherName" jdbcType="INTEGER" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
  </resultMap>
  
  <resultMap id="TeacherVoResultMap" type="com.github.wxiaoqi.security.api.vo.TeacherVo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="teacher_name" property="teacherName" jdbcType="INTEGER" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="o_t_status" property="oTStatus" jdbcType="INTEGER" />
  </resultMap>
  
  <select id="findTeacherByOrgIdAndPage" resultMap="TeacherVoResultMap">
  	SELECT * from igrowth_teacher t LEFT JOIN  igrowth_org_teacher_relation otr on t.id = otr.teacher_id where otr.org_id = #{orgId}
    <if test=" null != phone">
      AND t.phone LIKE CONCAT(CONCAT('%', #{phone}), '%')
    </if>
    <if test=" null != teacherName">
      AND t.teacher_name LIKE CONCAT(CONCAT('%', #{teacherName}), '%')
    </if>
    limit #{page}, #{limit}
  </select>
  
  <select id="findTeacherCountByOrgId" resultType="java.lang.Long">
  	SELECT count(*) from igrowth_teacher t LEFT JOIN  igrowth_org_teacher_relation otr on t.id = otr.teacher_id where otr.org_id = #{orgId}
    <if test=" null != phone">
      AND t.phone LIKE CONCAT(CONCAT('%', #{phone}), '%')
    </if>
    <if test=" null != teacherName">
      AND t.teacher_name LIKE CONCAT(CONCAT('%', #{teacherName}), '%')
    </if>
  </select>
  
  <select id="findTeacherByPhone" resultMap="BaseResultMap">
  	SELECT * from igrowth_teacher t where t.phone = #{phone}
  </select>

  <select id="findTeacherByOrgId" resultMap="TeacherVoResultMap">
    SELECT * from igrowth_teacher t LEFT JOIN  igrowth_org_teacher_relation otr on t.id = otr.teacher_id where otr.org_id = #{orgId} and otr.o_t_status = 1
  </select>

  <select id="findTeacherById" resultMap="BaseResultMap">
    SELECT * from igrowth_teacher t where t.id = #{teacherId}
  </select>
  
</mapper>
